@import "styles";
.input-password {
  &__input-container {
    position: relative;
  }
  &__input {
    padding: 12px 8px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid $background-common;
  }
  &__password-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
  }
  &__error {
    margin-top: 5px;
    @include text-s;
  }
  &__input_error {
    border: 1px solid $error;
    box-shadow: 0 0 6px rgba($error, 0.5);
  }
}
