@import "styles";
.input-password {
  &__input-container {
    position: relative;
  }
  &__input {
    @include common-input;
  }
  &__password-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
  }
  &__error {
    margin-top: 5px;
    @include text-s;
  }
  &__input_error {
    @include common-input-error;
  }
}
