// backgrounds
$background-app: #fafafa;
$background-panel: #f4f4f4;
$background-common: #ebebeb;

// text
$text: #444444;
$text-muted: #7c7c7c;
$text-accented: #212529;

// error
$error: #ff5555;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&display=swap");

$primary-font: "Lexend Deca", sans-serif;
