@import "styles";

.lists {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  &__list {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    cursor: pointer;
  }
  &__add {
    border-radius: 8px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    column-gap: calc(15px / 2);
    cursor: pointer;
  }
  &__list_selected {
    background-color: #ebebeb;
  }
}
.paragraph {
  @include text-s;
  margin-left: 10px;
  margin-bottom: 10px;
}
